{% extends 'base.html.twig' %}

{% block body %}

<div class="header">
    <span class = "title">Carrito de compras</span>
    <a href="" class="btn-light">Salir</a>
    <a href="" class="btn-light">Ver Carrito</a>  
</div>

<h2>Lista Productos</h2>

{% for producto in productos %}
{
    <div>
    <img  src={{producto.imagen}}  />
    </div>
}
{% endfor %}

{% endblock %}