
  <div class="header">
        <span class="title">Carrito de compras</span>

        <div class="botonera">
            <a href="" class="btn-light">Ver carrito</a>
            <a href="{{ path('app_logout') }}" class="btn-light">Salir</a>
        </div>
    </div>

